<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anythink.sdk">
    <application>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <!-- source file: nonchina_jcenter/network_sdk/admob/22.4.0/AndroidManifest.xml -->
        <!--google-->
        <meta-data
        android:name="com.google.android.gms.ads.AD_MANAGER_APP"
        android:value="true" />
        
    </application>
</manifest>
